<div class="w-96 border border-slate-800 m-8">
    <div class="bg-slate-800 text-white p-4">Login Form</div>
<form class="login-form">
    <div class="flex flex-row p-4">
        <div class="w-24"><label for="email-login">Email:</label></div>
        <div class="w-full"><input type="text" id="email-login" class="border w-full" /></div>
    </div>
    <div class="flex flex-row p-4">
        <div class="w-24"><label for="password-login">Password:</label></div>
        <div class="w-full"><input type="password" id="password-login" class="border w-full" /></div>
    </div>
    <div class="flex flex-row p-4">
        <div class="justify-left grow"><button type="submit" class="bg-slate-900 hover:bg-slate-400 text-white px-3 py-2 rounded-md text-sm font-medium">Login</button></div>
        <div class="justify-right"><button id="register" class="bg-slate-900 hover:bg-slate-400 text-white px-3 py-2 rounded-md text-sm font-medium">Register</button></div>
    </div>
</form>
</div>

<script src="/assets/js/login.js"></script>