<div class="w-96 border border-sky-800 m-8">
    <div class="bg-sky-800 text-white p-4">Signup Form</div>
<form class="signup-form">
    <div class="flex flex-row p-4">
        <div class="w-32"><label for="username-signup">User Name:</label></div>
        <div class="w-full"><input type="text" id="username-signup" class="border w-full" /></div>
    </div>
    <div class="flex flex-row p-4">
        <div class="w-32"><label for="email-signup">Email:</label></div>
        <div class="w-full"><input type="text" id="email-signup" class="border w-full" /></div>
    </div>
    <div class="flex flex-row p-4">
        <div class="w-32"><label for="password-signup">Password:</label></div>
        <div class="w-full"><input type="password" id="password-signup" class="border w-full" /></div>
    </div>
    <div class="flex flex-row p-4">
        <div class="justify-left grow"></div>
        <div class="justify-right"><button id="submit" class="bg-sky-900 hover:bg-sky-400 text-white px-3 py-2 rounded-md text-sm font-medium">Register</button></div>
    </div>
</form>
</div>

<script src="/assets/js/signup.js"></script>