<article class="border-solid border-slate-800 border-2 m-2">
    <div class="bg-slate-800 text-white text-lg font-bold p-2 flex flex-row">
        <div class="justify-left grow">
            {{post.post_title}}
        </div>
        <div class="justify-right">
            Posted by {{post.user.username}} on {{format_date post.created_at}}
        </div>
    </div>
    <div class="bg-white p-2 whitespace-pre-line">{{post.post_text}}</div>
</article>
    {{#if loggedIn}}
    <form class="comment-form">
        <div class="w-full mx-3">
            <textarea name="comment-body" rows="4" class="border w-11/12 mx-3 p-1" autofocus></textarea>
        </div>
        <div>
            <button type="submit" class="bg-sky-900 hover:bg-sky-400 text-white px-3 py-2 rounded-md text-sm font-medium mx-6">Add comment</button>
        </div>
    </form>
    {{/if}}
{{> comments post.comments}}

{{#if loggedIn}}
<script src="/assets/js/comment.js"></script>
{{/if}}